<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fees Management</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    {% block other_stylesheets %}
    {% endblock other_stylesheets %}
</head>
<body>
    {% block content %}
    {% endblock content %}

    {% block other_footers %}
    {% endblock other_footers %}
</body>
</html>